.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 5px rgba(0,0,0,0.7);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.tile:hover {
    box-shadow: none;
    transform: translateY(5px);
}